In [1]:
import django
import os
import pandas as pd
import numpy as np
import threading
os.environ["DJANGO_SETTINGS_MODULE"] = 'mlproject.settings'
django.setup()

from bookapp.models import *

In [2]:
PATH = '../datasets/books.csv'
df = pd.read_csv(PATH, error_bad_lines=False, usecols=['title', 'authors'])
df.head(20)

,title,authors
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré
5,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman
6,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling
7,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams
8,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams
9,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams
10,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams/Stephen Fry
11,The Ultimate Hitchhiker's Guide (Hitchhiker's ...,Douglas Adams
12,A Short History of Nearly Everything,Bill Bryson
13,Bill Bryson's African Diary,Bill Bryson
14,Bryson's Dictionary of Troublesome Words: A Wr...,Bill Bryson
15,In a Sunburned Country,Bill Bryson
16,I'm a Stranger Here Myself: Notes on Returning...,Bill Bryson
17,The Lost Continent: Travels in Small Town America,Bill Bryson
18,Neither Here nor There: Travels in Europe,Bill Bryson
19,Notes from a Small Island,Bill Bryson

In [7]:
df.loc[:, :]

,title,authors
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré
...,...,...
11122,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...
11123,You Bright and Risen Angels,William T. Vollmann
11124,The Ice-Shirt (Seven Dreams #1),William T. Vollmann
11125,Poor People,William T. Vollmann
11126,Las aventuras de Tom Sawyer,Mark Twain

In [17]:
df.loc[:,'title'][0]
print(df.shape[0])

11127

In [3]:
def generate_prices(n):
    for i in range(n):
        yield np.random.randint(30, 150)

In [9]:
already_done = False
def transform(df):
    prices = list(generate_prices(df.shape[0]))
    titles = list(df.loc[:, 'title'])
    authors = list(df.loc[:, 'authors'])
    for i in range(df.shape[0]):
        Book.objects.create(title=titles[i], author=authors, price=prices[i])
    already_done = True

In [10]:
tr = threading.Thread(target=transform, args=(df,))
if not already_done:
    tr.start()

Exception in thread Thread-9:
Traceback (most recent call last):
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\sqlite3\base.py", line 413, in execute
    return Database.Cursor.execute(self, query, params)
sqlite3.OperationalError: database is locked

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\users\parti\appdata\local\programs\python\python38\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "c:\users\parti\appdata\local\programs\python\python38\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-9-eee8b7b11bed>", line 7, in transform
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\manager.py", line 85, in manager_method
    return getattr(self.get_queryset(), name)(*args, **kwargs)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\query.py", line 447, in create
    obj.save(force_insert=True, using=self.db)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\base.py", line 753, in save
    self.save_base(using=using, force_insert=force_insert,
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\base.py", line 790, in save_base
    updated = self._save_table(
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\base.py", line 895, in _save_table
    results = self._do_insert(cls._base_manager, using, fields, returning_fields, raw)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\base.py", line 933, in _do_insert
    return manager._insert(
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\manager.py", line 85, in manager_method
    return getattr(self.get_queryset(), name)(*args, **kwargs)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\query.py", line 1254, in _insert
    return query.get_compiler(using=using).execute_sql(returning_fields)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\models\sql\compiler.py", line 1397, in execute_sql
    cursor.execute(sql, params)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 98, in execute
    return super().execute(sql, params)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 66, in execute
    return self._execute_with_wrappers(sql, params, many=False, executor=self._execute)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 75, in _execute_with_wrappers
    return executor(sql, params, many, context)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\utils.py", line 90, in __exit__
    raise dj_exc_value.with_traceback(traceback) from exc_value
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
  File "G:\mlnotebooks\mlenv\lib\site-packages\django\db\backends\sqlite3\base.py", line 413, in execute
    return Database.Cursor.execute(self, query, params)
django.db.utils.OperationalError: database is locked